<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MoviesCorner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Miltonian' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
		<div class="fb_header">
    <% include partials/header.ejs %>
	</div>
	<div class="fb_unav">
    <% include partials/user_navigation.ejs %>
	</div>
    <main>
      <div class="fb">
  <!--        <img class="img2" src="./images/knd1.jpg" alt="Knight and Day">
          <h2>Knight and Day</h2>
          <h3>Action</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
					<div class="div1"> -->
						<img class="img2" src='<%= data.item._doc.imgUrl %>' alt="<%= data.item._doc.itemName %>">
						<h2><%= data.item._doc.itemName %></h2>
						<h3><%= data.item._doc.catalogCategory %></h3>
						<%
					for(var j=0; j< data.item._doc.rating;j++){%>
					<span class="fa fa-star checked"></span>
					<% } %>
					<%
					for(var j=5; j > data.item._doc.rating;j--){%>
					<span class="fa fa-star"></span>
					<% } %>

          <span><p>What's your rating?</p></span>
								<form action="/myItems/<%= data.user._doc.userId %>/<%= data.item._doc.itemName %>" method="post">
					  <select name="rating">
							<option value="0">0</option>
					    <option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
					    <option value="5">5</option>
					  </select>
					  <!-- <input type="submit"> -->
					<p>
						<!-- <label class="checkbox">
  						<input type="checkbox" name="watched" id="watched" value="false">Watched!</label> -->
							<select name="watched">
								<option value="False">No</option>
						    <option value="True">Yes</option>
							</select>
							<input type="submit">
					</p>
				</form>

					<br>
          <p>Cast: <%= data.item._doc.cast %></p>
          <p>Director: <%= data.item._doc.director %></p>
          <p class="p1"><%= data.item._doc.description %></p>
      </div>
    </main>
		<div class="fb_snav">
    <% include partials/site_navigation.ejs %>
	</div>
		<div class="fb_footer">
    <% include partials/footer.ejs %>
	</div>
  </body>
</html>
